{:deps    {ring/ring                      {:mvn/version "1.9.4"}
           clj-http/clj-http              {:mvn/version "3.12.3"}
           lambdaisland/uri               {:mvn/version "1.4.70"}
           com.stuartsierra/component     {:mvn/version "1.0.0"}
           org.clojure/tools.logging      {:mvn/version "1.1.0"}
           org.slf4j/slf4j-api            {:mvn/version "1.7.32"}
           ch.qos.logback/logback-core    {:mvn/version "1.2.5"}
           ch.qos.logback/logback-classic {:mvn/version "1.2.5"}}
 :paths   ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]}}}
